# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10.15

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
        
      # run tests!
      - run: yarn test

      # create an optimized production build
      - run: yarn build

      # move files into a shared workspace
      - run: mkdir -p workspace
      - run: mv build workspace/build

      # Persist the specified paths into the workspace for use in downstream job. 
      - persist_to_workspace:
          root: workspace
          paths:
            - build

  deploy:
    docker:
      - image: circleci/node:10.15

    working_directory: ~/repo

    steps:
      - attach_workspace:
          at: /workspace

      - run:
          name: Install awscli
          command: sudo pip install awscli

      - run:
          name: Deploy to S3
          command: aws s3 sync workspace/build s3://dalton-react-site --delete

workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master